body {
    margin: 0;
    padding: 0;
    background-color: #0B0E13;
    scroll-behavior: smooth;
    font-family: "Chakra Petch", sans-serif;
    ;
}

* {
    box-sizing: border-box
}

*::selection {
    color: black;
    background-color: #CBFE1C;
}

@font-face {
    font-family: "chakara";
    src: url(../fonts/ChakraPetch-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "chakara";
    src: url(../fonts/ChakraPetch-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "chakara";
    src: url(../fonts/ChakraPetch-Medium.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "days one";
    src: url(../fonts/DaysOne-Regular.ttf);
    font-weight: 400;
}

/** nav-bar**/
.navbar {
    font-family: "Chakra Petch", sans-serif;
    background-color: #0B0E13;
    border-bottom: 2px solid #141B25;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 10000;
}

.navbar-toggler-icon {
    filter: invert(1);
    border: none;
    outline: none;
}



.navbar-brand i {
    margin-right: 8px;
    color: #CBFE1C;
}

.navbar-brand span {
    color: #CBFE1C;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.nav-link {
    color: white;
    transition: all 0.2s;
}


.home-color {
    color: #CBFE1C !important;
}

.navbar .nav-link:focus,
.navbar .nav-link:active {
    color: #CBFE1C !important;
}

.navbar-nav a:hover {
    color: #CBFE1C
}

.fa-regular {
    color: white;
}

.fa-regular:hover {
    color: #CBFE1C;
}

.sign {
    background-color: #CBFE1C;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.1s;
}

.sign:hover {
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2), transparent);
}

.hero {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    font-family: "Days One", sans-serif;
}

.item {
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.item h1:not(#color) {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 75px;
    color: white;
}

#color {
    color: #CBFE1C;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 75px;
}

.item p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: white;
    text-align: left;
}

.sign1,
.sign2 {
    margin-top: 30px;
    margin-right: 15px;
    font-family: "Chakra Petch", sans-serif;
    background-color: #CBFE1C;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.1s;
    padding: .9375rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ;
}
.sign1:hover{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(203, 254, 28, 0.5));;
}
.sign2:hover{
    background-color: #C6FD25;color: #0B0E13;
}
.sign2 {
    background-color: transparent;
    color: #CBFE1C;
    border: 2px solid #CBFE1C;
}

.width {
    width: 570px;
    height: 385px;
    margin: auto;
    margin-top: 110px;
    border: 5px solid #CBFE1C;
    border-radius: .625rem;
    overflow: hidden;
}

.fa-trophy {
    color: #CBFE1C;
    display: flex;
    align-items: center;
    gap: .625rem;
}

.active-pla {
    display: flex;
    position: relative;
    top: -35px;
    width: 10.625rem;
    height: 95px;
    background-color: #0B0E13;
    border: 1px solid #364153;
    border-radius: 10px;
    padding: .625rem;
}

.padd {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.padd h4,
.padd p {
    padding: 0;
    margin: 0;
}

.padd h4 {
    font-family: "Chakra Petch", sans-serif;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
}

.our-games h1,
.container-team h1 {
    text-align: center;
    font-family: "Days One", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    color: rgb(241, 241, 241);

}

#borders,
#border2,
#border3,
#border4 {
    text-align: center;
    margin-top: 40px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    line-height: 24px;
    color: #CBFE1C;
    position: relative;

}

#borders::after {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #CBFE1C;
display: inline-block
    ;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-image: linear-gradient(207deg, #17191b 0% 5%, #CBFE1C 40% 100%);
}

#border2::after,
#border3::after ,
#border4::after{
    content: "";
    width: 70px;
    height: 3px;
    background-color: #CBFE1C;
   display: inline-block
    ;
    ;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-image: linear-gradient(207deg, #17191b 0% 5%, #CBFE1C 40% 100%);
}

#borders::before {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #CBFE1C;
  display: inline-block;
    padding: 1px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-image: linear-gradient(175deg, #17191b 0% 5%, #CBFE1C 40% 100%);
}

#border3::before,
#border2::before,
#border4::before {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #CBFE1C;
display: inline-block
    ;
    padding: 1px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-image: linear-gradient(175deg, #17191b 0% 5%, #CBFE1C 40% 100%);
}


.photo {
    width: 390px;
    height: 292px;
    display: block;
    object-fit: cover;
    border-radius: .625rem;
    margin: auto;
    position: relative;
    z-index: 0;
    transition: all 0.5s;
}

.photo-wraper:hover .photo {
    transform: scale(1.2);
}

.photo-wraper {
    position: relative;
    border-radius: .625rem;
    overflow: hidden;
    width: 390px;
    height: 292px;
    z-index: 0
}

.photo-wraper::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(203, 254, 28, 0.5));
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
}

.i-styles {
    position: absolute;
    z-index: 2;
    inset: 0;
    opacity: 0;
    transition: all 0.5s;
}

.i-styles:hover,
.photo-wraper:hover::before {
    opacity: 1;
}

.fa-arrow-left,
.fa-arrow-right {
    width: 20px;
    height: 20px;
    background-color: transparent;
    ;
}

.i-styles:hover #game1,
.i-styles:hover #game {
    transform: translatey(0px);
}

.i-styles #game,
.i-styles #game1 {
    border: none;
    position: absolute;
    margin-top: 5px;
    top: 2px;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 2px;
    transform: translatey(-20px);
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-size: 12px;
    transition: all 0.5s;
}

.i-styles i {
    color: #CBFE1C;
    margin-right: 4px;
}

.i-styles #game {
    left: 2px;

}

.i-styles #game1 {
    left: 30%;
}

.i-styles h2 {
    color: #0B0E13;
    position: absolute;
    top: 250px;
    left: 10px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    margin-right: .3125rem;
    transform: translatey(-20px);
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(50px);
}

.i-styles:hover h2 {
    opacity: 1;
    transform: translateY(0px);
}

.section2 {
   margin-top: 6.25rem;
}

.section2 p {
    font-family: "Chakra Petch", sans-serif Style;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}

#font00 {
    font-weight: 400;
}

#yellow {
    color: #CBFE1C;
}

.items2 {
    position: relative;
    border: 1px solid #1E2939;
    border-radius: 10px;
    width: 18.125rem;
    height: 18.125rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1A1A1A;
}

.items2::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 30px solid #CBFE1C;
    border-right: 30px solid transparent;
    top: -1.25rem;
    left: -1.25rem;
    opacity: 0;
    transition: all 0.5s
}

.items2::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 30px solid #CBFE1C;
    border-left: 30px solid transparent;
    top: 100%;
    right: -10px;
    opacity: 0;
    transition: all 0.5s;
    ;
}

.items2 img {
    border: 1px solid #1E2939;
}

.items2 .fa-vr-cardboard,
.items2 .fa-cube,
.items2 .fa-playstation,
.items2 .fa-cubes,
.items2 .fa-tablet-screen-button,
.items2 .fa-tv {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #364153;
    padding: 10px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #CBFE1C;
    background-color: #1E2939;
    border-radius: .625rem;
    transition: all 0.5s;
}

.items2:hover .fa-vr-cardboard,
.items2:hover .fa-cube,
.items2:hover .fa-playstation,
.items2:hover .fa-cubes,
.items2:hover .fa-tablet-screen-button,
.items2:hover .fa-tv {
    background-color: #CBFE1C;
    color: #0B0E13;
}

.items2:hover {
    border: 1px solid #CBFE1C;
}

.items2:hover::before {
    opacity: 1;
    top: 20px;
    left: 20px;

}

.items2:has(img):hover::before {
    opacity: 0;
}

.items2:has(img):hover::after {
    opacity: 0;
}

.items2:hover::after {
    opacity: 1;
    top: 80%;
    right: 20px;
}

.items2 h3 {
    color: white;
    padding: 0;
    margin: 0
}

.our-games {
    position: relative;
}

.our-games::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 25%;
    width: 50%;
    height: .125rem;
    ;
    margin-top: 40px;
    margin-bottom: 1.25rem;
    background-image: linear-gradient(90deg, transparent, #CBFE1C 20% 80%, transparent);
    box-shadow: 0px 0px 20px #CBFE1C;
}


.hr-style {
    width: 50%;
    height: 30%;
    color: #CBFE1C;
    margin: auto;
    margin-top: 20px;

}

.background {
    margin-top: 40px;
    background:
        radial-gradient(ellipse at center,
            rgba(203, 254, 28, 0.45) 0%,
            rgba(203, 254, 28, 0.2) 30%,
            rgba(203, 254, 28, 0.08) 50%,
            transparent 75%);
}

.row-right {
    margin-top: 3.75rem;
    animation: move-right 15s linear infinite;display: flex;overflow: hidden;position: relative;
}

.row-left {
    animation: move-left 15s linear infinite reverse;
    margin-bottom: 3.75rem;

}

.container-id {
    margin-top: 1.25rem;
}

@keyframes move-right{
    0% {
        transform: translatex(-50%);
    }

    100% {
        transform: translatex(0%);
    }
}
@keyframes move-left{
    0% {
        transform: translatex(-50%);
    }

    100% {
        transform: translatex(0%);
    }
}

.scroll-content{
    display: flex;
    margin-bottom: 30px;
    animation: scroll-left 30s linear infinite;
}
.scroll-content.reverse{
        animation: scroll-right 30s linear infinite;

}
.logo-box{
    width: 100px;
    height: 100px;
    border-radius: 12px;
    margin-inline: 10px;
    flex-shrink: 0;
    overflow: hidden;
}
.logo-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes scroll-left {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-30%);
    }
    
}
@keyframes scroll-right {
    0%{
        transform: translateX(-30%);
    }
    100%{
        transform: translateX(0);
    }
    
}
.team p {
    color: #949BAA;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.font3 {
    font-family: "Days One", sans-serif;
    font-size: 3rem;
}

.img-overlay {
    width: 17.8125rem;
    max-width: 18rem;
    margin: auto;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: .9375rem;
    filter: grayscale(100%);

    z-index: 1;
    width: 17.8125rem;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.img-overlay:hover img {
    filter: grayscale(0%);
}

.img-overlay:hover .overlay {
    opacity: 0;
    transform: translateY(-100%);
    border-radius: .9375rem;
}

.img-overlay:hover .info3 {
    filter: grayscale(0%);
}

.img-overlay img {
    overflow: hidden;
    width: 17.8125rem;
    height: 20rem;
    position: relative;
    display: block;
    filter: grayscale(100%);
}

.info3 {
    position: absolute;
    bottom: 2%;
    left: 20px;
    ;
    padding: 10px;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}


.info3 h3 {
    padding: 0;
    margin: 0;
    color: #CBFE1C;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25rem;
}

.info3 p {
    padding: 0;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.rotate {
    position: absolute;
    left: 65%;
    bottom: 35%;
    transform: translate(50%) rotate(90deg);
    color: #CBFE1C !important;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 900;
    font-size: 1.125rem !important;
}

.contact-us {
    background-color: #0F141F;
}
.text2{
font-family: "Chakra Petch", sans-serif;
font-weight: 400;font-size: 1.25rem;
color: #949BAA;
}
.fa-location-dot,.fa-phone,.fa-envelope{
    width: 2.5rem;height: 2.5rem;background-color: #CBFE1C;
}
.location h1 ,.location p{
padding: 0;margin: 0;
}
.location p{
    color:#949BAA;font-family: "Chakra Petch", sans-serif;
}
.location{
    font-family: "Days One", sans-serif;
    
    background-color: #1E2939;padding: 1.25rem;
}
.join{
   background: #C6FD25;font-family: "Days One", sans-serif;
background: linear-gradient(90deg,rgba(198, 253, 37, 1) 0%, rgba(46, 226, 112, 1) 98%);
}
.join p{
   font-family: "Chakra Petch", sans-serif;
} 
.contact-icon i{
    width: 1.875rem;height: 1.875rem;
    border: 1px solid black;
    background-color:black;
    color: #C6FD25;
    padding: 1.25rem;
    border-radius: 50%;gap: 30px;margin: auto;
    display: inline-flex;justify-content: center;align-items: center;
    transition:  all 0.2s ;
}
.contact-icon i:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.send{
    font-family: "Days One", sans-serif;
}
.form-control{
    background-color: #364153;
    border: rgb(40, 54, 73);
    width:250px;height: 40px;

}
.form-control1,.form-select,.form-control2{
    width: 90%;height: 40px; background-color: #364153;
    border: rgb(40, 54, 73);border-radius: 5px;
}
.form-select{
    color: white;
}
.form-label{
    margin:5px  auto;transition: all 0.3s;

}
.form-control:hover,.form-control1:hover,.form-contro2:hover
,
.form-control:focus,.form-control1:focus,.form-contro2:focus{
    background-color: #364153;border: 1px solid #C6FD25!important;box-shadow: 2px 2px 2p #C6FD25!important;
}
.form-control2{width:90%;height: 170px;

     ;resize: none;
}

.right-side{
    border: 1px solid black;
}
.background0{
    background-color: #1E2939;border-radius: 15px;
}
.form-check-label{
    color:#949BAA
}
button{border-radius: 10px;position: relative;
    width: 90%;height:3.125rem;
    background-color: #CBFE1C;
    font-family: "Chakra Petch", sans-serif;font-size: 1.125rem;font-weight: 700;
}
button:hover{
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2), transparent)
}
button::after{
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    top: 140%;background-color: oklch(68.87% 0.02351 265.719);
    right: 5%;
}
.foot{
    color: #CBFE1C;
}
.footp{
    color: #949BAA;
}
.arena{
    color: #C6FD25;margin: 5px;font-family: "Chakra Petch", sans-serif;font-size: 1.25rem;font-weight: 700;
}
.fa-gamepad{
color: #C6FD25;margin: 5px;
}
.coloor{
    color: #949BAA;
}
a{
    color: #949BAA;
    text-decoration: none;
    margin: 0 10px;
}
a:hover{
    color: #C6FD25;
}
.text-rights{
    color:#949BAA;
}
.carousel-indicators{
    bottom:-80px
    ;text-indent: 0;
    margin-left: 80%;
}
.left2 ,.right2{
    width: 1.875rem;height: 1.875rem;
    border: 1px solid #949BAA;
} 
.carousel-indicators .icon3{position: relative;
   left: 65%;top:10%
    ;border: 1px solid #CBFE1C!important;
    color: #CBFA18!important;
 
}
.font5{
    font-size:1rem!important;font-family: "Days One", sans-serif;font-weight: 700;
}


button {
    border-radius: 10px;
    position: relative;
    width: fit-content;
    height: 3.125rem;
    background-color: #CBFE1C;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    border:none;
}
.btn-form{
    width: 90%;
}